@(message: String)

<!DOCTYPE html>

<html>
    <head>
        <title>SproutUp - Supporting Emerging Products grow</title>
        <link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/content.css")">
        <link rel="shortcut icon" type="image/jpg" href="@routes.Assets.at("images/round-logo-blue.jpg")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/content.js")" type="text/javascript"></script>
 
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

</head>
<body>
  <b>@message</b>
</body>